.top-image img{
    width: 100%;
    height: 45rem;
}
.area-menus{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about-wrapper{
    text-align: center;
    font-family: inherit;
    color: #212529;
}

.new-wrapper h2{
    text-align: center;
}

.center{
    text-align: center;
}

.new-post{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.new-content{
    margin: 5px 5px;
}

.content-size{
    width: 24rem;
}

.card-img-top{
    position: relative;
    height: 12rem;
}

.new-prefecture{
    position: absolute;
    top: 3%;
    left: 5%;
    border-radius: 20px;
}

.btn-prefecture{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 3px 10px;
    font-size: .9rem;
    line-height: 1.6;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-radius: 40px;

}

.show-img{
    width:54rem;
}

.new-paginate{
    display: flex;
    justify-content: center;
}

.area-wrapper h2{
    text-align: center;
}

.area-menu{
    margin: 10px;
    width: 20rem;
}

.prefecture-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.prefectures{
    margin: 0 25px;
    font-size: 1rem;
}

.about-wrapper{
    background-color: #FFF;
    font-size: 1.3rem;
}

.card-img{
    height:100%;
    width: 9rem;
}

.card-prefecture{
    text-align: center;
    margin-top: 1.1rem;
    padding-left: 2.5rem;
}

.card-text{
    text-align: center;
}

.card-flex{
    display: flex;
    justify-content: center;
    
}
.card-flex2{
    display: flex;
    justify-content: center;
    
}

.bg-black{
    color: #FFF;
    background-color: black;
    padding: 10px;
    border-radius: 30px;
    width: 120px;
    margin: 50px auto 50px auto;
    position: absolute;
    left: 43%;
    top: -70%;
}

.bg-user{
    background-color: #FFF;
    width: 100%;
    position: relative;
    height: 100px;
    margin-top: 6rem;
}

.bg-user-name{
    padding-top: 2.3rem;
}

.show-prefecture{
    position: absolute;
    left: 23%;
    top: 14%;
    padding: 7px 25px;
}

.content-text{
    padding: 2rem 0;
    width: 54rem;
}

.content-center{
    text-align: center;
}

.post-create{
    width: 60%;
    margin: 20px auto 80px auto;
}

.carousel-wrapper{
    display: flex;
}

.carousel-item img{
    height: 220px;
}

.bg-color{
    background-color:#333333;
    color: #fff;
}

.pad-tb{
    padding-top: 100px;
    padding-bottom: 100px;
}

.pad-b{
    padding-top: 30px;
    padding-bottom: 100px;
}

.card-body1{
    flex: 1 1 auto;
    padding: 1.25rem 1.25rem 0 1.25rem;
}

.delete-btn{
    margin: 0 auto 10px auto;
}

.alert{
    margin-bottom: 0;
}

.content-text2{
    padding: 2rem 0;
    width: 100%;
}


.about-wrapper2{
    background-color: #F5F5F5;
    text-align: center;

}

.about-contents{
    width: 80%;
    margin: 0 auto;
}

.about-flex{
    display: flex;
    justify-content: center;
}

.about-flex2{
    display: flex;
    justify-content: space-around;
}

.about-txt2{
    position: relative;
}

.about-txt2 img{
    width: 100%;
    height: 350px;
}

.about-txt2 p{
    position: absolute;
    top: 12%;
    left: 52%;
    color: white;
    line-height: 30px;
}

.how{
    background-color: #FFF;
}

.howto p{
    line-height: 30px;
}

.howtoimg{
    width: 16%;
}

.how-img{
    padding: 0 40px;
}

.line-img {
    width:100%; 
    height:150px;
    background-image: url(/asset/image/abou.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.three-contents-img{
    width: 300px;
}

.text-height{
    line-height: 40px;
}

.ml-6{
    margin-left: 110px;
}

.mr-6{
    margin-right: 110px;
}

.view-text{
    margin-right: 170px;
}

.rest-text{
    margin-left: 80px;
}

.sight{
    margin-right: 80px;
}

.sight-text{
    margin-right: 30px;
}

.text-finish{
    line-height: 35px;
}

.pt-45{
    padding-top: 2rem;
}

.my-45{
    margin-top: 2rem;
    margin-bottom: 3rem;
}

#gmap {
    width:100%;
    height:250px;
    margin-top: 100px;
}


@media screen and (min-width:992px) and (max-width:1200px){
    .content-size {
        width: 19rem;
    }
    .area-menu {
        width: 16rem;
    }
    .card-img {
        width: 8rem;
    }

    .card-prefecture {
        padding-left: 3.3rem;
    }

    .show-prefecture {
        left: 17%;
        top: 10%;
    }

    .view-text {
        margin-right: 8rem;
    }

    .sight-text {
        margin-right: 0;
    }
}

@media screen and (min-width:768px) and (max-width:991px){
    .carousel-item img {
        height: 10rem;
    }
    .top-image img {
        height: 27rem;
    }
    .content-size {
        width: 15rem;
    }

    .card-img-top {
        height: 12rem;
    }

    .areas-menus{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .area-menus {
        display: inline;
    }

    .area-menu {
        width: 20rem;
    }

    .new-wrapper{
        margin: 0 auto;
    }

    .show-img {
        width: 40rem;
    }

    .content-text {
        width: 40rem;
    }

    .bg-black {
        left:40%;
    }

    .show-prefecture {
        left: 20%;
        top : 10%;
    }

    .about-contents{
        width: 90%;
    }

    .ml-6 {
        margin-left: 40px;
    }

    .mr-6 {
        margin-right: 2.8rem;
    }

    .rest-text {
        margin-left: 0rem;
    }

    .three-contents-img {
        width: 17rem;
    }

    .sight {
        margin-right: 0;
    }

    .view-text {
        margin-right: 60px;
    }

    .text-height{
        font-size: 1rem;
    }
}


@media screen and (min-width:544px) and (max-width:767px){
    .carousel-item img {
        height: 7rem;
    }
    .top-image img {
        height: 22rem;
    }
    .content-size {
        width: 10rem;
    }
    .card-img-top {
        height: 10rem;
    }
    .prefecture-wrapper {
        display: block;
    }

    .prefectures{
        margin-left: 7rem;
    }

    .row{
        flex-wrap: nowrap;
    }

    .areas-menus{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .area-menus {
        display: inline;
    }

    .area-menu {
        width: 15rem;
    }

    .card-prefecture {
        padding-left: 0;
    }

    .prefecture-wrapper {
        justify-content: left;
    }

    .about-wrapper {
        font-size: 1rem;
    }

    .show-img {
        width: 30rem;
    }

    .content-text {
        width: 30rem;
    }

    .bg-black {
        left:40%;
    }

    .show-prefecture {
        left: 20%;
        top : 10%;
    }

    .about-contents{
        width: 100%;
    }

    .about-txt2 p {
        left: 46%;
    }

    .ml-6 {
        margin-left: 40px;
    }

    .mr-6 {
        margin-right: 2.0rem;
    }

    .rest-text {
        margin-left: 0rem;
    }

    .three-contents-img {
        width: 12rem;
    }

    .sight {
        margin-right: 0;
    }

    .view-text {
        margin-right: 60px;
    }

    .text-height{
        font-size: 1rem;
        line-height: 30px;
    }

    .pt-45 {
        padding-top: 1.2rem;
    }

    .sight-text {
        margin-right: 0px;
    }
}

@media screen and (min-width:450px) and (max-width:543px){
    .carousel-item img {
        height: 6rem;
    }
    .top-image img {
        height: 16rem;
    }
    .content-size {
        width: 10rem;
    }
    .card-img-top {
        height: 10rem;
    }

    .card-img {
        height: 100%;
        width: 7rem;
    }

    .prefecture-wrapper {
        display: block;
    }

    .prefectures{
        margin-left: 2rem;
        font-size: 0.9rem;
    }

    .row{
        flex-wrap: nowrap;
    }

    .areas-menus{
        display: block;
        
    }
    
    .area-menus {
        display: inline;
    }

    .area-menu {
        width: 20rem;
        margin: 5px auto;
    }

    .card-prefecture {
        padding-left: 20px;
        text-align: left;
    }

    .prefecture-wrapper {
        justify-content: left;
    }

    .about-wrapper {
        font-size: 0.7rem;
    }

    .show-img {
        width: 25rem;
    }

    .content-text {
        width: 25rem;
    }

    .bg-black {
        left:35%;
    }

    .show-prefecture {
        left: 20%;
        top : 10%;
    }

    .about-contents{
        width: 100%;
    }

    .about-txt2 p {
        left: 40%;
    }

    .ml-6 {
        margin-left: 0;
    }

    .mr-6 {
        margin-right: 0rem;
    }

    .rest-text {
        margin-left: 0rem;
    }

    .three-contents-img {
        width: 20rem;
    }

    .sight {
        margin-right: 0;
    }

    .view-text {
        margin-right: 4rem;
        margin-left: 4.5rem;
    }

    .text-finish {
        line-height: 35px;
        font-size: 0.8rem;
    }

    .text-height{
        font-size: 1rem;
        line-height: 30px;
    }

    .pt-45 {
        padding-top: 1.2rem;
    }

    .sight-text {
        margin-right: 0px;
    }

    .how-img {
        padding: 0 5px;
    }

    .about-flex2 {
        display: flex;
        flex-wrap: wrap;
    }

    .view-img{
        order: 2;
    }

    .sight-img{
        order: 2;
    }
}

@media screen and (max-width:449px){
    .carousel-item img {
        height: 6rem;
    }
    .top-image img {
        height: 16rem;
    }
    .content-size {
        width: 10rem;
    }
    .card-img-top {
        height: 10rem;
    }

    .card-img {
        height: 100%;
        width: 7rem;
    }

    .prefecture-wrapper {
        display: block;
    }

    .prefectures{
        margin-left: 2rem;
        font-size: 0.9rem;
    }

    .row{
        flex-wrap: nowrap;
    }

    .areas-menus{
        display: block;
        
    }
    
    .area-menus {
        display: inline;
    }

    .area-menu {
        width: 20rem;
        margin: 5px auto;
    }

    .card-prefecture {
        padding-left: 20px;
        text-align: left;
    }

    .prefecture-wrapper {
        justify-content: left;
    }

    .about-wrapper {
        font-size: 0.7rem;
    }

    .show-img {
        width: 22rem;
    }

    .content-text {
        width: 22rem;
    }

    .bg-black {
        left:35%;
    }

    .show-prefecture {
        left: 20%;
        top : 10%;
    }

    .about-contents{
        width: 100%;
    }

    .about-txt2 p {
        left: 20%;
    }

    .ml-6 {
        margin-left: 0;
    }

    .mr-6 {
        margin-right: 0rem;
    }

    .rest-text {
        margin-left: 0rem;
    }

    .three-contents-img {
        width: 20rem;
    }

    .sight {
        margin-right: 0;
    }

    .view-text {
        margin-right: 4rem;
        margin-left: 4.5rem;
    }

    .text-finish {
        line-height: 35px;
        font-size: 0.8rem;
    }

    .text-height{
        font-size: 1rem;
        line-height: 30px;
    }

    .pt-45 {
        padding-top: 1.2rem;
    }

    .sight-text {
        margin-right: 0px;
    }

    .how-img {
        padding: 0 5px;
    }

    .about-flex2 {
        display: flex;
        flex-wrap: wrap;
    }

    .view-img{
        order: 2;
    }

    .sight-img{
        order: 2;
    }
}